@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-color: #1c24aa;
  background-image: linear-gradient(90deg, #1c24aa, #b7b8fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer components {
  .shipmentcard_background {
    @apply w-[370px] py-8 px-7 flex flex-col bg-white rounded-[40px];
  }

  .shipmentcard_name {
    @apply w-full mb-5 text-[28px] font-bold gradient-text;
  }

  .shipmentcard_tag_div {
    @apply w-full flex flex-wrap gap-y-2 items-center mb-5;
  }

  .shipmentcard_yellow_tag_div {
    @apply mr-1.5 max-[425px]:py-0 py-1 max-[425px]:px-2 px-2.5 rounded-[20px] justify-center items-center inline-flex border border-starkit-lightorange bg-white;
  }

  .shipmentcard_yellow_tag_span {
    @apply text-center text-starkit-lightorange max-[425px]:text-[10px] text-xs font-normal;
  }

  .shipmentcard_green_tag_div {
    @apply mr-1.5 max-[425px]:py-0 py-1 max-[425px]:px-2 px-2.5 rounded-[20px] justify-center items-center inline-flex border border-starkit-lightgreen bg-white;
  }

  .shipmentcard_green_tag_span {
    @apply text-center text-starkit-lightgreen max-[425px]:text-[10px] text-xs font-normal;
  }

  .shipmentcard_text {
    @apply mb-4 text-base font-normal text-black;
  }

  .shipmentcard_icons_div {
    @apply mt-1 flex flex-row gap-x-6 items-center justify-end;
  }

  .shipmentcard_editicon {
    @apply w-[40px] h-[40px] fill-starkit-lavender;
  }

  .shipmentcard_trashicon {
    @apply w-[30px] h-[40px] fill-starkit-lavender;
  }
}
